<header class="header">
    <div class="logo">
    </div>
    <nav class="menu-pages">
        <a href="" class="menu-pages__item_active">Model S</a>
        <a href="" class="menu-pages__item">Model X</a>
        <a href="" class="menu-pages__item">Model 3</a>
        <a href="" class="menu-pages__item">Roadster</a>
        <a href="" class="menu-pages__item">Energy</a>
    </nav>

    <div class="menu-nav__wrap">
        
        <nav class="menu-nav">
            <a href="" class="menu-nav__item">Магазин</a>
            <a href="" class="menu-nav__item">Войти</a>
            <div class="menu-nav__item-burger">
                <span class="menu-nav__burger-top"></span>
                <span class="menu-nav__burger-middle"></span>
                <span class="menu-nav__burger-bottom"></span>
            </div>
        </nav>

        <div class="menu-nav__burger-menu invis">
            <nav class="menu-nav__burger-menu-nav">
                <a href="" class="">Магазин</a>
                <a href="" class="">Войти</a>
            </nav>

            <nav class="menu-nav__burger-menu-pages">
                <a href="" class="a1">Model S</a>
                <a href="" class="a1">Model X</a>
                <a href="" class="a1">Model 3</a>
                <a href="" class="a1">Roadster</a>
                <a href="" class="a1">Energy</a>
            </nav>
        </div>
        
    </div>
</header>