        <div class="floor-main">
            <h1 class="title">
                Model&nbsp;S
            </h1>
            <div class="subtitle">
                Добро пожаловать в будущее!
            </div>

            <!--Фон-->
            <div class="floor-main__backround">
                <!--Фото автомобиля-->
                <div class="floor-main__foto-wrap">
                    <div class="floor-main__foto">
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="specifications">
                    <div class="specifications__item">
                        <!--Изображение спидометра-->
                        <div class="specifications__icon-wrap-speedometer"> 
                            <img src="img/Speed.png" alt="speedometer" class="specifications__speedometer">
                        </div>
                        <div class="specifications__text-outer-wrap">
                            <div class="specifications__text-inner-wrap">
                                <span class="specifications__big-text-speed">2,7</span>
                                <span class="specifications__medium-text">сек</span>
                            </div>
                            <div class="specifications__small-text">
                                0-100 км/час
                            </div>
                        </div>
                    </div>
                    <div class="specifications__item">
                        <!--Пиктограмма трека-->
                        <div class="specifications__icon-wrap-track"> 
                            <img src="img/Road icon.png" alt="Road icon" class="specifications__track">
                        </div>
                        <div class="specifications__text-outer-wrap">
                            <div class="specifications__text-inner-wrap">
                                <span class="specifications__big-text-track">632</span>
                                <span class="specifications__medium-text">км</span>
                            </div>
                            <div class="specifications__small-text">
                                запас хода
                            </div>
                        </div>
                    </div>
                </div> 
                {{>order-test-drive}}
            </div>
            <!--Стрелка вниз-->
            <div class='floor-main__corner-down'>
            </div>
        </div>