        <div class="floor-security">
            <div class="description-floor-security">

                <div class = "description-floor-security__text">
                    <h3 class = "description-floor-security__text-heading">Самый безопасный автомобиль в мире</h3>
                    <span class = "description-floor-security__text-body">Модель S достигла наивысшей оценки безопасности любого автомобиля, когда-либо испытанного, и установила рекорд 
                        по наименьшей вероятности травмы пассажиров - от несчастных случаев на переднем, боковом, заднем сидении и в ДТП
                         с переворотом авто.</span>
                </div>

                <div class = "description-floor-security__stars hidden-375px">
                    <h3 class = "description-floor-security__text-heading">Оценка защиты:</h3>

                    <div class = "description-floor-security__list">

                        <div class = "description-floor-security__list-item">
                            <span class = "description-floor-security__list-item-text">Спереди</span>
                            {{>five-star}}
                        </div>

                        <div class = "description-floor-security__list-item">
                            <span class = "description-floor-security__list-item-text">Сбоку</span>
                            {{>five-star}}
                        </div>

                        <div class = "description-floor-security__list-item">
                            <span class = "description-floor-security__list-item-text">Сбоку</span>
                            <span class = "description-floor-security__list-item-text-small">(стойка)</span>
                            {{>five-star}}
                        </div>

                        <div class = "description-floor-security__list-item">
                            <span class = "description-floor-security__list-item-text">ВОДИТЕЛЬ</span>
                            {{>five-star}}
                        </div>

                        <div class = "description-floor-security__list-item">
                            <span class = "description-floor-security__list-item-text">ПАССАЖИР</span>
                            {{>five-star}}
                        </div>
                    </div>
                </div>

                <div class = "description-floor-security__shield">
                    <!--Щит с галочкой-->
                    <div class = "description-floor-security__shield-icon">
                        <img src="img/Group.png" alt="shield" class = "description-floor-security__shield-icon">
                    </div>
                    <div class = "description-floor-security__shield-text">
                        <span class = "description-floor-security__shield-text-big">5 звезд</span>
                        <span class = "description-floor-security__shield-text-medium">безопасности</span>
                    </div>
                </div>

                {{>order-info-security}}
            </div>

            <div class="img-floor-security">
                <div class="img-floor-security__background">
                    Model&nbsp;S
                </div>
                <div class="img-floor-security__foto">  
                </div>
                <div class="logo-school">
                    <div class="logo-school__text">
                        РАЗРАБОТАНО В
                    </div>
                    <img src="img/Маленький желто-белый-svg.png" alt="logo Web Hero" class="logo-school__icon">
                </div>
            </div>
        </div>