        <div class="floor-feature">
            <div class = "img-floor-feature">
                <h2 class = "img-floor-feature__heading">Model&nbsp;S</h2>
                <div class = "img-floor-feature__foto-wrapper">
                    <!--Фото салона-->
                </div>
            </div>

            <div class = "description-floor-feature">
               
                <div class = "description-floor-feature__text">
                    <h3 class = "description-floor-feature__text-heading">Будущее вождения</h3>
                    <span class = "floor-feature__text-body">Модель S обладает лучшей в своем классе вместимостью: в машине поместится до пяти взрослых и двух детей. Оснащена
                         современным 17&#8209;дюймовым сенсорным экраном. Усовершенствованная шумовая инженерия создает динамику звука, сравнимую 
                         с студией звукозаписи, а стеклянная крыша обеспечивает просторный интерьер для каждого пассажира.</span>
                </div>

                <div class = "description-floor-feature__specifications">
                    <div class = "description-floor-feature__display">
                        <!--Иконка телефона-->
                        <div class = "description-floor-feature__display-icon"> 
                        </div>
            
                        <div class = "description-floor-feature__outer-wrap">
                            <div class = "description-floor-feature__inner-wrap">
                                <span class = "description-floor-feature__big-text">17</span>
                                <span class = "description-floor-feature__medium-text">дюймов</span>
                            </div>
                            <div class = "description-floor-feature__small-text">
                                Большой дисплей
                            </div>
                        </div>
                    </div>

                    <div class = "description-floor-feature__WiFi">
                        <!--Иконка WiFi-->
                        <div class = "description-floor-feature__WiFi-icon">
                            <div class = "description-floor-feature__WiFi-icon-inner"></div>
                        </div>
                
                        <div class = "description-floor-feature__outer-wrap">
                            <div class = "description-floor-feature__inner-wrap">
                                <span class = "description-floor-feature__medium-text">Беспроводное обновление ПО</span>
                            </div>
                            <div class = "description-floor-feature__small-text">
                                Повышенная функциональность
                            </div>
                        </div>
                    </div>

                    <div class = "description-floor-feature__battery">
                        <!--Иконка батареи-->
                        <div class = "description-floor-feature__battery-icon">
                            <div class = "description-floor-feature__battery-icon-inner">

                            </div>
                        </div>
                    
                        <div class = "description-floor-feature__outer-wrap">
                            <div class = "description-floor-feature__inner-wrap">
                                <span class = "description-floor-feature__big-text">894</span>
                                <span class = "description-floor-feature__medium-text">литра</span>
                            </div>
                            <div class = "description-floor-feature__small-text">
                                Объем грузового пространства
                            </div>
                        </div>
                    </div>
                </div>
            
                {{>order-info-feature}}
            </div>
        </div>