                            <div class = "description-floor-security__list-item-stars">
                                <!--Звезды-->
                                <img src="img/Star.png" alt="star" class = "description-floor-security__star">
                                <img src="img/Star.png" alt="star" class = "description-floor-security__star">
                                <img src="img/Star.png" alt="star" class = "description-floor-security__star">
                                <img src="img/Star.png" alt="star" class = "description-floor-security__star">
                                <img src="img/Star.png" alt="star" class = "description-floor-security__star">
                            </div>