<aside>
    <h1>Это асайд</h1>
    <div>
        Имя: {{firstName}}
    </div>
    <div>
        Возраст: {{age}}
    </div>
    <div>
        Адрес: {{adress}}
    </div>
    <div>
        Навык: {{skill}}
    </div>
</aside>