<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='target/index.min.css'>
    <title>Tesla landing</title>
</head>
<body>
    {{>header}}
    <main>
        <!--Первый этаж-->
        {{>floor-main}}

        <!--Второй этаж-->
        {{>floor-feature}}

        <!--Третий этаж-->
        {{>floor-security}}
         
    </main>

    <script src='target/index.min.js'></script>
</body>
</html>